/* issues.css */
body {
  background-color: #548687; 
  text-align: center;/* Set background color for the entire page */
}

.container {
  height: 70vh;
  margin: 20px auto; /* Set auto margin for top and bottom, and auto for left and right to center the container */
  padding: 20px;
  margin-top: 10%; /* Add padding for inner spacing */
  border-radius: 100px;
}

.complaints-table {
  width: 80%; /* Set a fixed width for the table */
  margin: 50px auto 0; /* Set auto margin for left and right to center the table, and add top margin to create space between the table and the navbar */
  /* border-collapse: collapse; */
  height: 5vh;
 
}

.complaints-table th,
.complaints-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  /* border-radius: 10rem; */
}

.complaints-table th {
  font-weight: bold;
  /* border-radius: 10%; Make the table headings bold */
}

.complaints-table tbody tr {
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

/* Add class to hide table row */
.complaints-table tbody tr.hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.total-complaints-box{
  border-radius: 10%;
}
